[Unit]
Description=Weather Station

[Service]
User=pi
ExecStart=/opt/weather-station/weather-station.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target